body {
  background-color: rgb(197, 233, 233);
}

li {
  list-style: none;
  float: right;
  padding: 5px;
}

a {
  text-decoration: none;
}

.navbar a {
  color: black;
} 

#edad {
  display: block;

}

h2 {
  display: inline;
}